.user{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 70px;
    /* grid-gap: px; */
    border: 1px black solid;
    background-color: rgb(134, 134, 134);
}

.profile{
    border-radius: 50%;
    width: 50px;
}

.userText{
   display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
   text-align: center;
   /* align-items: center;
   justify-content: start; */
   /* height: 100px; */
   /* margin-bottom: 30px; */
   /* border: 1px solid black; */
   height: 10px;
}

.usernamecont{
    margin:0px ;

}

.usermessage{
    margin:0px;
}