.upperpart{
    display: grid;
    background-color: rgb(255,254,254);
    grid-template-columns: 10% 90%;
    border: 1px rgb(255,254,254);
}


.profile{
      margin-left: 5px;
      border-radius: 50%;
        width: 50px;
    }